<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">

    <EditForm class="space-y-8 divide-y divide-gray-200" EditContext="EditContext">
        <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">

            @foreach (var property in ActivityInfo.Properties)
            {
                <TextFormElement PropertyInfo="property" @bind-Value="@_properties[property.Name].Value"  />
            }
        </div>
    </EditForm>
</div>